@{
    ViewBag.Title = "Admin";
}

<h2>Admin Breakdown</h2>
<hr/>
<ul>
    <li>@Html.ActionLink("Return to the main View", "Index", "Home")</li>
    <br />Administrate: 
    <li>@Html.ActionLink("Points", "Index", "Points") |  @Html.ActionLink("Users", "Index", "Users") | @Html.ActionLink("Awards", "Index", "Awards")</li>
</ul>