@{
    ViewBag.Title = "Admin";
}

<h2>Admin Breakdown</h2>

<ul>
    <li>@Html.ActionLink("Return to the main View", "Index", "Home")</li>
    <br />
    <li>@Html.ActionLink("Bugs", "Index", "Bugs")</li>
    <li>@Html.ActionLink("Users", "Index", "Users")</li>
    <li>@Html.ActionLink("Awards", "Index", "Awards")</li>
</ul>