@{
    ViewBag.Title = "Monthly rankings, and all-time winners.";
}

@model System.Tuple<System.Data.DataTable,System.Data.DataTable>

<h2>About</h2>
<hr/>
<p>
This month's Leaders.
</p>
<table>
    <thead>
        <tr>
            @foreach (System.Data.DataColumn col in Model.Item1.Columns) { 
                <th>@col.Caption</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Item1.Rows)
        {
            <tr>
                @foreach (var cell in row.ItemArray) {
                    <td>@cell.ToString()</td>
                }
            </tr>
        }         
    </tbody>
</table>

<hr/>
<p>
    All Time Leaders.
</p>

<table>
    <thead>
        <tr>
            @foreach (System.Data.DataColumn col in Model.Item2.Columns) { 
                <th>@col.Caption</th>
            }
        </tr>
    </thead>
    <tbody>
    @foreach (System.Data.DataRow row in Model.Item2.Rows)
    {
        <tr>
            @foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
        </tr>
    }         
    </tbody>
</table>